.myface{
    width: 200px;
    height: 220px;
    padding-bottom: 20px;
}

.main-content{
    padding-top: 70px;
}

.footer{
    text-align: center;
    font-size: 10px;
    padding-top: 20px;
}

.counter{
    padding-top: 20px;
    text-align: center;
}